
.description {
 padding-bottom: 30px;
}

.avatar {
  display: block;
  width: 150px;
  margin: 0 auto;
  border: 1px solid #111111;
  border-radius: 50px;
}

.name {
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.25;
  text-align: center;
  
  color: #000000;
}

.tag {
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;
}

.location {
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;

  color: #999999;
}

.stats {
  display: flex;
  width: 600px; 
  padding-top: 20px;
}

.statsList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 30px;
  flex-basis: calc(100% / 3);  
}


.statsList:not(:last-child) {
  border-right: 1px solid #999999;
}

.label {
  margin: 0 auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.25;
  
    color: #999999;
}

.quantity {
  margin: 0 auto;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.25;
}
